
/* Top Menu Navigation */

/* Home Page */

div#maranatha-map-section-info ul#maranatha-map-section-buttons li.maranatha-map-button-more-item { display:none!important; }

/* Menubar */

#maranatha-header-menu-inner > ul { top: 0.28em; }

#maranatha-header-menu-inner > ul > li { margin: 0.0em 0 0 0.4em; }
#maranatha-header-menu-inner > ul > li { padding-bottom: 0.5em; }

#maranatha-header-menu-inner > ul > li > a { padding: 0.25em 0.25em 0.25em 0.3em; }

#maranatha-header-menu-inner > ul > li > a { border: 1px solid #C77444; border-radius: 0.3215em; border-color: transparent; }
#maranatha-header-menu-inner > ul > li > a:hover { border-color: #fff; }

#maranatha-header-menu-inner > ul > li.current-menu-item > a { border-color: #fff; }
#maranatha-header-menu-inner > ul > li.current-menu-item > a { pointer-events: none; cursor: default; }
#maranatha-header-menu-inner > ul > li.current-page-item > a { border-color: #fff; }
#maranatha-header-menu-inner > ul > li.current-page-item > a { pointer-events: none; cursor: default; }

#maranatha-header-menu-inner > ul > li.current-menu-parent > a { border-color: #fff; }
#maranatha-header-menu-inner > ul > li.current-page-ancestor > a { border-color: #fff; }
#maranatha-header-menu-inner > ul > li.current-menu-ancestor > a { border-color: #fff; }

#maranatha-header-menu-inner > ul > li > ul { margin-top: 0.4em; }

/* Dropdowns and Flyouts */

#maranatha-header-menu-inner .sf-menu ul li:hover > a,
#maranatha-header-menu-inner .sf-menu ul li.sfHover > a,
#maranatha-header-menu-inner .sf-menu ul a:focus,
#maranatha-header-menu-inner .sf-menu ul a:hover,
#maranatha-header-menu-inner .sf-menu ul a:active {
  color: #C77444 !important;
}

#maranatha-header-menu-inner .sf-arrows ul li > .sf-with-ul:focus:after,
#maranatha-header-menu-inner .sf-arrows ul li:hover > .sf-with-ul:after,
#maranatha-header-menu-inner .sf-arrows ul .sfHover > .sf-with-ul:after {
  border-left-color: #C77444;
}

#maranatha-header-menu-inner ul li ul li { border: 1px solid #fff; border-radius: 0.3215em; border-color: transparent; }

#maranatha-header-menu-inner ul li ul li:hover { border-color: #C77444; }

#maranatha-header-menu-inner ul li ul li.current-menu-item { border-color: #C77444; }
#maranatha-header-menu-inner ul li ul li.current-menu-item > a { pointer-events: none; cursor: default; }

#maranatha-header-menu-inner ul li ul li.current-page-item { border-color: #C77444; }
#maranatha-header-menu-inner ul li ul li.current-page-item > a { pointer-events: none; cursor: default; }

#maranatha-header-menu-inner ul li ul li.current-menu-parent { border-color: #C77444; }
#xmaranatha-header-menu-inner ul li ul li.current-menu-parent > a { pointer-events: none; cursor: default }

#maranatha-header-menu-inner ul li ul li.current-page-ancestor { border-color: #C77444; }
#xmaranatha-header-menu-inner ul li ul li.current-page-ancestor > a { pointer-events: none; cursor: default }

#maranatha-header-menu-inner ul li ul li ul.sub-menu { margin-left: 0.35em; }

/* SDA Styles */

.sda-menu .current-menu-item a { pointer-events: none; cursor: default; }

.xalignnone { margin: 0 !important; }

.sda-caption { font-size: 11px; margin-top: 1px; }

#sda-schedule td { padding-left: 1em; }

.sda-weekly-bulletin { margin-left: 12px; }

#maranatha-content { margin-top: 4.375rem; }
#maranatha-content { margin-top: 1.00rem!important; }

h2 { margin-bottom: 2.1875rem; }
h2 { margin-bottom: 0.00rem !important; }

.xmaranatha-entry-content p:first-of-type { color: red!important; }

/* SDA Navigation Menu */

#sda-nav div { margin-top: 0.2em; }

#sda-nav ul {
  list-style: none;
  position: relative;
  display: inline-table;
}

#sda-nav ul {
  position: relative;
  margin: 0px;
  float: right;
  font-size: 0.8em;
  text-align: right;
  text-transform: uppercase;
}

#sda-nav ul:after {
  clear: both; display: block;
}

#sda-nav ul li {
  float: left;
}

#sda-nav ul li:hover {
  color: #000;
}

#sda-nav ul li:hover > ul {
  display: block;
}

#sda-nav ul li a {
  display: block; padding: 9px 12px 9px 12px;
  text-decoration: none;
  color: #C77444; padding: 0px 12px 0px 12px;
}

#sda-nav ul li:hover > a {
  color: #000;
}

#sda-nav ul ul {
  display: none;
}

#sda-nav ul ul {
  background: #fff; padding: 0;
  position: absolute; top: 100%;
  padding-top: 11px;
  padding-bottom: 5px;
  margin-left: 0px;
  border-radius: 0.3125em;
  box-shadow: 0px 2px 12px rgba(0,0,0,0.15);
}

#sda-nav ul > li { padding-bottom: 0.6em; }

#sda-nav ul ul li {
  float: none; 
  background: #fff;   
  position: relative;
  background: #fff;
}

#sda-nav ul ul li a {
  padding: 0px 12px 0px 12px;
  color: #C77444;
  text-align: left; 
}	

#sda-nav ul ul li a:hover {
  color: #000;
}

#sda-nav li:last-child { direction: rtl; }
#sda-nav li:last-child li a { padding-right: 12px; }
#sda-nav li:last-child li a { text-align: right; }

#sda-nav ul ul li a { font-size: 1.3em; }

#sda-nav ul li.current-menu-item > a { color: #000; pointer-events: none; cursor: default; }
#sda-nav ul li.current-page-item > a { color: #000; pointer-events: none; cursor: default; }
#sda-nav ul li.current-page-parent > a { color: #000 !important; }
#sda-nav ul li.current-page-ancestor > a { color: #000 !important; }

#sda-nav ul li.current-menu-parent > a { color: #000 !important; }
#sda-nav ul li.current-menu-ancestor > a { color: #000 !important; }

#sda-nav ul li:first-child  a { color: #C77444 !important; pointer-events: auto !important; cursor: pointer !important; }
#sda-nav ul li:first-child.current-menu-item  a { color: #000 !important; pointer-events: none !important; cursor: default !important; }
#sda-nav ul li:first-child.current-page-item  a { color: #000 !important; pointer-events: none !important; cursor: default !important; }

#sda-nav ul li:first-child  a:hover { color: #000 !important; }

#sda-nav ul li ul li.current-menu-item > a { color: #000; pointer-events: none; cursor: default; }
#sda-nav ul li ul li.current-page-item > a { color: #000; pointer-events: none; cursor: default; }
#sda-nav ul li ul li.current-menu-parent > a { color: #000; pointer-events: none; cursor: default }
#sda-nav ul li ul li.current-page-ancestor > a { color: #000; pointer-events: none; cursor: default }

.sda-nav-el {
    margin-left: 0.4375em;
    font-size: 0.8em;
    position: relative;
    top: -0.0625em;
}

#sda-nav ul li.current-page-parent > a.sda-more { color: #000 !important; }
#sda-nav ul li.current-page-ancestor > a.sda-more { color: #000 !important; }

.sda-inactive-button {
  display: inline-block;
  position: relative;
  height: 3.07em;
  line-height: 3.07em;
  border-radius: 3.07em;
  border-width: 1px;
  border-style: solid;
  padding: 0px 1.375em;
  font-size: 0.85em;
  text-align: center;
  text-transform: uppercase;
  border-color: #CCC;
  color: #CCC;
}

.sda-color { color: #C77444; }

.sda-nolink { pointer-events: none; cursor: default; }

/* SDA Overrides */

.ctfw-breadcrumbs a:last-of-type { pointer-events: none; cursor: default; color: #777; }

#maranatha-footer-icons-notice { padding-top: 1.3rem!important; padding-bottom: 1.0rem!important; }



ul.maranatha-calendar-table-day-events li { white-space: normal; }
ul.maranatha-calendar-table-day-events li { line-height: 1.32; padding-bottom: 3px; padding-bottom: 3px; }
ul.maranatha-calendar-table-day-events li { text-indent: -12px; padding-left: 12px; }

span.maranatha-calendar-table-day-event-time { display: none; }



/* Force Narrow Page Width */

#post-1648 .maranatha-centered-large { max-width: 980px !important; } /* About Us */
#post-1648 .maranatha-entry-content-inner { max-width: 700px !important; }
#post-1648 .maranatha-loop-after-content { max-width: 800px !important; margin: auto !important; }

#post-1651 .maranatha-centered-large { max-width: 980px !important; } /* About Us : Our Beliefs */
#post-1651 .maranatha-entry-content-inner { max-width: 700px !important; }
#post-1651 .maranatha-loop-after-content { max-width: 800px !important; margin: auto !important; }

#post-1690 .maranatha-centered-large { max-width: 980px !important; } /* About Us : Our Approach */
#post-1690 .maranatha-entry-content-inner { max-width: 700px !important; }
#post-1690 .maranatha-loop-after-content { max-width: 800px !important; margin: auto !important; }




#post-1985 .maranatha-centered-large { max-width: 980px !important; } /* About Us : MMT */
#post-1985 .maranatha-entry-content-inner { max-width: 700px !important; }
#post-1985 .maranatha-loop-after-content { max-width: 800px !important; margin: auto !important; }

#post-1700 .maranatha-centered-large { max-width: 980px !important; } /* About Us : MMT : Job Descriptions */
#post-1700 .maranatha-entry-content-inner { max-width: 700px !important; }
#post-1700 .maranatha-loop-after-content { max-width: 800px !important; margin: auto !important; }

#post-2128 .maranatha-centered-large { max-width: 980px !important; } /* Worship */
#post-2128 .maranatha-entry-content-inner { max-width: 700px !important; }
#post-2128 .maranatha-loop-after-content { max-width: 800px !important; margin: auto !important; }

#post-2163 .maranatha-centered-large { max-width: 980px !important; } /* Worship : Sabbath School */
#post-2163 .maranatha-entry-content-inner { max-width: 700px !important; }
#post-2163 .maranatha-loop-after-content { max-width: 800px !important; margin: auto !important; }

#post-39 .maranatha-centered-large { max-width: 980px !important; } /* Ministries */
#post-39 .maranatha-entry-content-inner { max-width: 700px !important; }
#post-39 .maranatha-loop-after-content { max-width: 800px !important; margin: auto !important; }

#post-42 .maranatha-centered-large { max-width: 980px !important; } /* Ministries : Youth Ministries */
#post-42 .maranatha-entry-content-inner { max-width: 700px !important; }
#post-42 .maranatha-loop-after-content { max-width: 800px !important; margin: auto !important; }

#post-46 .maranatha-centered-large { max-width: 980px !important; } /* Ministries : Healthful Living */
#post-46 .maranatha-entry-content-inner { max-width: 700px !important; }
#post-46 .maranatha-loop-after-content { max-width: 800px !important; margin: auto !important; }

#post-165 .maranatha-centered-large { max-width: 980px !important; } /* Ministries : Foreign Missions */
#post-165 .maranatha-entry-content-inner { max-width: 700px !important; }
#post-165 .maranatha-loop-after-content { max-width: 800px !important; margin: auto !important; }

/* People Page */

li.maranatha-person-short-position { display: block !important; }
li.maranatha-person-short-phone { display: block !important; }
li.maranatha-person-short-email { display: block !important; }

/* Disable Navigation Links on People Profile Pages */

.postid-1983 .maranatha-nav-block-left { display: none !important; } /* Pastor Vic */
.postid-1983 .maranatha-nav-block-right { display: none !important; }

.postid-1984 .maranatha-nav-block-left { display: none !important; } /* Aaron Clark */
.postid-1984 .maranatha-nav-block-right { display: none !important; }

.postid-2013 .maranatha-nav-block-left { display: none !important; } /* Mwaka Chambwa */
.postid-2013 .maranatha-nav-block-right { display: none !important; }

/* End of CSS */